<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head.ejs'); %>
    <title>Dinner</title>
  </head>
  <body>
    <div
      style="
        color: white;
        display: flex;
        justify-content: end;
        text-align: center;
      "
    >
      <p>Witaj <%= name %></p>
      <% var suma=0;%>
      <span> <%- include('../views/hamburger.ejs'); %> </span>
    </div>
    <div>
      <h2 style="color: white; text-align: center">Twoje zamówienie</h2>
      <table
        style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <th style="border: solid white 1px">Nazwa resteuracji</th>
        <th style="border: solid white 1px">danie</th>
        <th style="border: solid white 1px">cena [zł]</th>
        <% for(var i=0; i < preOrder.length; i++) { %>
        <tr>
          <td style="text-align: center; border: solid white 1px">
            <%=preOrder[i][0]%>
          </td>
          <td style="text-align: center; border: solid white 1px">
            <%=preOrder[i][1]%>
          </td>
          <td style="text-align: center; border: solid white 1px">
            <%=preOrder[i][2]%>
          </td>
        </tr>
        <% suma = suma + parseInt(preOrder[i][2])%> <% } %>
        <td></td>
        <td>suma</td>
        <td><%=suma %></td>
        <tr>
          <td style="text-align: left">
            <input
              style="color: white"
              type="radio"
              name="delivery"
              id="2"
              value="zjem w lokalu"
            />
            <label style="color: white" for="zjem w lokalu"
              >zjem w lokalu</label
            >
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            <input
              style="color: white"
              type="radio"
              name="delivery"
              id="1"
              value="dostawa"
            />
            <label style="color: white" for="dostawa">dostawa</label>
          </td>
        </tr>
      </table>
      <br />

      <br />

      <br />

      <br />
      <br />

      <br />
      <!-- <p style="color: white"><%= preOrder[0] %></p> -->
    </div>
    <div style="display: flex">
      <input style="margin: auto; display: block" type="button" value="Zamów" onclick="btnOrder()" />
    </div>
    <script src="/public/main.js"></script>
    <script>
      function btnOrder(){
        alert( "zamówienie");
      }
    </script>
  </body>
</html>
