<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head.ejs'); %>
    <title>Dinner</title>
  </head>
  <body>
    <div
      style="
        color: white;
        display: flex;
        justify-content: end;
        text-align: center;
      "
    >
      <p>Witaj <span id="name"><%= name %></span></p>
      <% var suma=0;%>
      <span> <%- include('../views/hamburger.ejs'); %> </span>
    </div>
    <div >
      <h2 style="color: white; text-align: center">
        Płatność 
      </h2>
      <br>
      <div style="display: flex; justify-content: center; align-items: center">
        //<form  style="color: white; " method="get" action="https://sklep.przelewy24.pl/zakup.php"></form>
        <form  style="color: white; " method="get" action="/payConfirmed">
          <input type="hidden" name="z24_id_sprzedawcy" value="TWOJ_ID">
          <input type="hidden" name="z24_crc" value="KLUCZ_ZAKUPU">
          <input type="hidden" name="z24_return_url" value="TWOJASTRONA.PL">
          <input type="hidden" name="z24_language" value="pl">
          <table>
          <tr>
          <td align="right">Nazwa produktu:</td>
          <td>
              <input type="text" id = "z24_nazwa" name="z24_nazwa" value="Opłata za rezerwację NR: 04/234/A3953">
              </td>
              </tr>
              <tr>
              <td align="right">Dodatkowy opis:</td>
              <td>
              <textarea id="z24_opis" name="z24_opis" style="width:250px">Dodatkowe informacje...</textarea>
              </td>
              </tr>
              <tr>
              <td align="right">Do zapłaty:</td>
              <td><input type="text" id = "z24_kwota" name="z24_kwota"></td><!--KWOTA W GROSZACH-->
              </tr>
              </table>
              <input type="submit" value="zapłać z przelewy24.pl">
        </form> 
      </div>

    <script src="/public/main.js"></script>

    
  </body>
  <script>
    var pay = "<%- payment.order[payment.order.length -2] %>";
    var name = "<%-payment.restoName%>";
    var order = "<%-payment.order%>";
    document.getElementById('z24_kwota').value = pay; 
    document.getElementById('z24_nazwa').value = name; 
    document.getElementById('z24_opis').value = order; 
  </script>
</html>
