<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head.ejs'); %>
    <title>Dinner</title>
  </head>
  <body>
    <div
      style="
        color: white;
        display: flex;
        justify-content: end;
        text-align: center;
      "
    >
      <p>Witaj <%= name %></p>
      <span> <%- include('../views/hamburger.ejs'); %> </span>
    </div>
    <h2 id="restoName2" style="color: white; text-align: center">
      Menu resteuracji <%= restoName%>
    </h2>
    <input style="margin: auto; display: block" type="button" value="Do koszyka" onclick="btnSend()" />
      <br />
      <table
        style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        id="Table1"
      >
        <th style="border: solid white 1px"></th>
        <th style="border: solid white 1px">danie</th>
        <th style="border: solid white 1px">cena</th>
        <th style="border: solid white 1px">prezentacja</th>
        <% for(var i=0; i < menu.length; i++) { %>
        <tr>
          <td style="width: 50px; text-align: center; border: solid white 1px">
            <input type="checkbox"/>
          </td>
          <td style="border: solid white 1px">
            <input type="hidden" ><%= menu[i].dish %> </input>
          </td>
          <td style="border: solid white 1px"><input type="hidden" ><%= menu[i].price %></td>
          <td style="border: solid white 1px">
            <img
              src="/public/fotoDinner/obiad<%=i+1%>.jpg"
              height="100"
              width="100"
            />
          </td>
        </tr>

        <% } %>
      </table>
    </form>

    <script src="/public/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
 
    function btnSend(){
      //Reference the Table.
      var grid = document.getElementById("Table1"); 
      //Reference the CheckBoxes in Table.
      var checkBoxes = grid.getElementsByTagName("INPUT");
      var order =[];
      var resto = [];
      console.log( "btn");
      var restoName = document.getElementById("restoName2").value;
      console.log(`restoName ${restoName}`);
      resto.push(restoName);

      //Loop through the CheckBoxes.
      for (var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxes[i].checked) {
          var row = checkBoxes[i].parentNode.parentNode;

          tmp = {
          'dish': row.cells[1].innerText,
          'price': row.cells[2].innerText
            };
        order.push([tmp]);
        }
      }
      var string = JSON.stringify(order);
      //alert(string);

      //const json = JSON.stringify({ answer: 42 });
      const res = axios.post('order', string, {
      headers: {
        // Overwrite Axios's automatically set Content-Type
        'Content-Type': 'application/json'
      }
      
      }).then(function (response) {
    // console.log(response.data);
    console.log(response.status);
    // console.log(response.statusText);
    // console.log(response.headers);
    // console.log(response.config);
   // if (response.status  == 200) window.location.replace("/order"); // redirect;
  });
     

    }
    </script>
  </body>
</html>
